body {
    background-image: url("../Img 2/descarga.jpg");
    background-size: 100% 100%;
    background-attachment: fixed; 
    background-position: center ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: pink;
}

.well{
  padding: 50px;
  color: #fff;
  border-radius: 4px;
  background-color: #8F9DB2;
}


.btn-outline-info {
  width: 35%;
  color: #FFF7DC;
  background-color: transparent;
  background-image: none;
  border-color: #FFF7DC;
  position: absolute;
  top: 90%; 
  left: 10%;
}

.btn-outline-warning {
  width: 35%;
  color: #FFF7DC;
  background-color: transparent;
  background-image: none;
  border-color: #FFF7DC;
  position: absolute;
  top: 90%; 
  left: 50%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #fff;
}