

body {
    background-image: url(../img/Error500WorldFem.jpg);
    background-size: 100% 2100%;
    background-repeat: no-repeat;

}


.btn-danger {
  color: #fff;
  background-color: #F2B8A2;
  border-radius: 2px;
  position: relative;
  top: 560px;
  left: 570px;
}
